[Desktop Entry]
Type=Application
Name=aurora_build
Comment=A new Flutter project.
Icon=com.example.aurora_build
Exec=/usr/bin/com.example.aurora_build
X-Nemo-Application-Type=silica-qt5

[X-Application]
Permissions=UserDirs
OrganizationName=com.example
ApplicationName=aurora_build
